* {
    border: dashed rgba(1, 1, 1, 0.5)1px;
}

nav {
    display: fixed; 
    background: lightblue;
} 

nav li {
    display: inline;
}

h1 {
    font-family: "permanent marker", monospace;
    text-align: center;
    max-width: 100%;
    display: block;
    height: auto;
}

.responsive {
    max-width: 100%; 
    display: block;
    height: auto;
}

/* sub button wont display, does it need properties */

/*.g-ytsubscribe {
    width: 100%;
    height: auto;
} */


#youtube-subscribe {
    display: flex;
    width: 100%;
    height: 500px; /* change to auto after adding embeded player, and subscribe button */
}

#youtube {
    background: peru;
    width: 50%;
    height: auto;
}
#subscribe {
    background: royalblue;
    width: 50%;
    height: auto;
}

#form-headshot {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
}

#email-list {
    width: 50%;
    height: auto;
}

#headshot {
    width: 20%;
    height: auto;
}
